.featurecards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.card{
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(227, 236, 241);
    padding: 5px;
}

.heading{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

img{
    margin-top: -30px;
    width: 50px;
    margin-left: 42%;
}

.card-title{
    color: crimson;
}
