<div class="container-fluid">
  <div class="hero row">
    <div class="branding col-lg-6 col-10">
      <h2 class="brandname">{{ title }}</h2>
      <p class="tagline">We serve daily utilities that you need the most..!</p>
      <div class="hero-btn">
        <button class="btn btn-primary">
          <a href=""> <i class="bi bi-info-circle-fill"></i> About Us</a>
        </button>
        <button class="btn btn-success">
          <a href=""><i class="bi bi-telephone-fill"></i> Reach Us</a>
        </button>
      </div>
    </div>
  </div>
</div>
